@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
nav{
    font-family: "Ubuntu", sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    align-items: center;
    color: white;
    }
nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand img{
    width: 60px;
    padding: 0 8px;
}
.container{
    min-height:60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    background-image: url("image/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 70%;
    border-radius: 12px;
    padding: 34px
}
.bottom{
    position: sticky;
    height: 90px;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{

}
#myProgressBar{
    width: 80vh;
    text-align: center;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    align-items: center;
    color: black;
    margin: 12px 0;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 90px;
}
.songItemContainer{
    margin-top: 5px;
}
.timespan{
    margin: 0 23px;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition:opacity 1s ease-in;
}