html, body{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}
.button{
    padding: 20px;
    font-weight: bolder;
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 50px;
}
.row{
    margin: 12px  0;
    
} 
.row input{
    margin: 0;
    padding: 8px 35px;
    border: 2px solid black;
    border-radius: 5px;
    width: 195px;
}
